.success {
    stroke: #4CAE4C;
    stroke-width: 1;
    fill: #5CB85C;
}

.danger {
    stroke: #D43F3A;
    stroke-width: 1;
    fill: #D9534F;
}

.warning {
    stroke: #F0AD4E;
    stroke-width: 1;
    fill: #F0AD4E;
}
